@CHARSET "ISO-8859-1";
h2{
	text-align:center;
}
th, td {
	text-align: center;
}

input[type="submit"] {
	width: 320px;
	height: 45px;
	border: 1px solid;
	font-size: 14px;
	font-weight: bold;
	font-family: ariel;
}

#add, #delete {
	display: inline-block;
}

input[type="submit"]:hover {
	background-color: steelblue;
}